@text-color: #ffffff;
@background-color: rgb(14, 14, 20);
@button-color: #0052cc;

.adminPanel {
  background-color: @background-color;
  color: @text-color;
  text-shadow: none;

  h1 {
    font-size: 2vw;
    text-align: center;
  }

  .adminForms {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    margin: 2vw;

    form {
      position: relative;
      border: 4px solid @text-color;
      border-radius: 5px;
      padding: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        position: absolute;
        font-size: 16px;
        top: -24px;
        z-index: 99;
        background-color: @background-color;
      }
    }

    .formgroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      width: 100%;

      label {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 4px;
        img {
          width: 2vw;
          height: 2vw;
        }
        span {
          margin-top: 3px;
        }
      }

      button {
        width: 100px;
        padding: 0 !important;
      }
    }

    .playerImage {
      width: 4vw;
      height: 4vw;
      text-align: center;
      margin-bottom: 1vw;
      border-radius: 50%;
      border: 2px solid white;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .itemDropdown {
      position: relative;
      display: inline-block;
      .itemListClosed {
        display: none;
      }
      .itemListOpen {
        display: block;
        position: absolute;
        width: 100px;
        background-color: #0052cc;
        margin-top: -4px;
        margin-left: 4px;
        text-align: center;
        z-index: 999;
        max-height: calc(5 * 31px);
        overflow-y: scroll;

        div {
          padding: 8px 2px;
          cursor: pointer;
          font-size: 0.7vw;
          font-family: Arial, Helvetica, sans-serif;
        }
        div:hover {
          background-color: #186dec;
        }
      }

      ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    input {
      height: 24px;
      border: none;
      margin: 4px;
      max-width: 100px;
    }
    input:focus {
      border: none;
    }
    input:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
    button {
      height: 24px;
      background-color: @button-color;
      color: @text-color;
      border: none;
      padding: 4px;
      border: 1px solid #00aacc;
      margin: 4px;
    }
    button:hover {
      cursor: pointer;
    }
    button[type="submit"] {
      display: block;
    }
    button.reset {
      background-color: red;
      border: 1px solid #ccaa00;
      padding: 0 32px;
    }
  }
}
