@text-color: #ffffff;
@margin: 32px;
.screenContainer {
    margin: @margin;
    width: calc(100vw - @margin * 2);
    height: calc(100vh - @margin * 2);
    border-top: 2px solid @text-color;
    border-bottom: 2px solid @text-color;
    color: @text-color;

    .screenHeader {
        font-size: 2.5vw;
        text-align: center;
        margin-bottom: 5vh;
    }

    .screenContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
}