@text-color: #ffffff;

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: @text-color;
}

.playerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 15vw;
  padding-bottom: 2px;
  border-bottom: 4px solid @text-color;

  .playerAvatar {
    position: relative;
    width: 7.5vw;
    height: 7.5vw;

    .playerAvatarContainer {
      width: 7.5vw;
      height: 7.5vw;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid @text-color;
      background-color: rgb(217, 232, 245);
    }
    img {
      width: 100%;
      height: 100%;
    }

    .playerRank {
      position: absolute;
      top: 15.5vh;
      text-align: center;
      width: 100%;
      font-size: 2.5vw;
    }
  }

  .playerStats {
    width: 7.5vw;
    font-size: 3vw;
    position: relative;

    .statRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      img {
        width: 3.5vw;
        height: 3.5vw;
      }

      .stars {
        font-size: 3.5vw;
      }
    }

    .playerItems {
      position: absolute;
      top: 17vh;
      width: 8vw;
      height: 4vw;
      margin-left: -0.5vw;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      div {
        width: 2vw;
        height: 2vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .playerAdds {
      font-size: 2vw;
      position: absolute;
      top: 1vh;
      left: 9vw;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      opacity: 0;
    }
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 10s;
}

.opaque {
  opacity: 0;
}

@keyframes fadeOut {
   0% {opacity: 0;}
   5% {opacity: 1;}
   90% {opacity: 1;}
   100% {opacity: 0;} 
}